# Docker
.dockerignore

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class

# R
.Rhistory
.RData
.Rproj.user

# Environment
.env

# Results
results/